NAME : Pallavi Pawar
BRANCH :CO

TASK 6

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Base URL of the fake jobs board
base_url = "https://realpython.github.io/fake-jobs/"

job_titles = []
companies = []
locations = []

# Loop through first 3 pages
for page in range(1, 4):
    url = f"{base_url}?page={page}"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")

    # Find all job cards
    job_cards = soup.find_all("div", class_="card-content")

    for job in job_cards:
        title = job.find("h2", class_="title").text.strip()
        company = job.find("h3", class_="subtitle").text.strip()
        location = job.find("p", class_="location").text.strip()

        job_titles.append(title)
        companies.append(company)
        locations.append(location)

# Create DataFrame
df = pd.DataFrame({
    "Job Title": job_titles,
    "Company": companies,
    "Location": locations
})

# Save to CSV
df.to_csv("fake_jobs.csv", index=False)

print("Data saved to fake_jobs.csv")
df.head(10)  # Show first 10 rows

Data saved to fake_jobs.csv

,Job Title,Company,Location
0,Senior Python Developer,"Payne, Roberts and Davis","Stewartbury, AA"
1,Energy engineer,Vasquez-Davidson,"Christopherville, AA"
2,Legal executive,"Jackson, Chambers and Levy","Port Ericaburgh, AA"
3,Fitness centre manager,Savage-Bradley,"East Seanview, AP"
4,Product manager,Ramirez Inc,"North Jamieview, AP"
5,Medical technical officer,Rogers-Yates,"Davidville, AP"
6,Physiological scientist,Kramer-Klein,"South Christopher, AE"
7,Textile designer,Meyers-Johnson,"Port Jonathan, AE"
8,Television floor manager,Hughes-Williams,"Osbornetown, AE"
9,Waste management officer,"Jones, Williams and Villa","Scotttown, AP"

In [6]:
import requests
from prettytable import PrettyTable


cities = ["Mumbai", "Delhi", "London", "New York", "Tokyo"]

# Create table
table = PrettyTable()
table.field_names = ["City", "Description", "Temperature"]

for city in cities:
    try:
        # Get weather data in JSON from wttr.in
        url = f"https://wttr.in/{city}?format=j1"
        response = requests.get(url)
        data = response.json()
        
        # Extract description & temperature
        description = data['current_condition'][0]['weatherDesc'][0]['value']
        temperature = data['current_condition'][0]['temp_C'] + "°C"
        
        # Add row to table
        table.add_row([city, description, temperature])
    except Exception as e:
        table.add_row([city, "Error", "Error"])

# Display table
print(table)

+----------+-------------------+-------------+
|   City   |    Description    | Temperature |
+----------+-------------------+-------------+
|  Mumbai  |        Mist       |     27°C    |
|  Delhi   |        Haze       |     30°C    |
|  London  |       Clear       |     16°C    |
| New York |       Clear       |     26°C    |
|  Tokyo   | Light rain shower |     27°C    |
+----------+-------------------+-------------+

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

base_url = "https://realpython.github.io/fake-jobs/"

# Storage lists
titles = []
companies = []
locations = []

# Loop through the first 3 pages
for page in range(1, 4):
    if page == 1:
        url = base_url
    else:
        url = f"{base_url}?page={page}"
    print(f"Fetching page {page}: {url}")
    
    resp = requests.get(url)
    resp.raise_for_status()
    soup = BeautifulSoup(resp.text, "html.parser")
    
    # Find all job cards
    job_cards = soup.find_all("div", class_="card-content")
    print(f"  → Found {len(job_cards)} job listings")
    
    for card in job_cards:
        title = card.find("h2", class_="title").get_text(strip=True)
        company = card.find("h3", class_="company").get_text(strip=True)
        location = card.find("p", class_="location").get_text(strip=True)
        
        titles.append(title)
        companies.append(company)
        locations.append(location)

# Build DataFrame and save CSV
df = pd.DataFrame({
    "Job Title": titles,
    "Company": companies,
    "Location": locations
})
csv_filename = "fake_jobs_first_3_pages.csv"
df.to_csv(csv_filename, index=False)
print(f"\nSaved {len(df)} records to {csv_filename}")

# Display first 10 rows
df.head(10)

Fetching page 1: https://realpython.github.io/fake-jobs/
  → Found 100 job listings
Fetching page 2: https://realpython.github.io/fake-jobs/?page=2
  → Found 100 job listings
Fetching page 3: https://realpython.github.io/fake-jobs/?page=3
  → Found 100 job listings

Saved 300 records to fake_jobs_first_3_pages.csv

,Job Title,Company,Location
0,Senior Python Developer,"Payne, Roberts and Davis","Stewartbury, AA"
1,Energy engineer,Vasquez-Davidson,"Christopherville, AA"
2,Legal executive,"Jackson, Chambers and Levy","Port Ericaburgh, AA"
3,Fitness centre manager,Savage-Bradley,"East Seanview, AP"
4,Product manager,Ramirez Inc,"North Jamieview, AP"
5,Medical technical officer,Rogers-Yates,"Davidville, AP"
6,Physiological scientist,Kramer-Klein,"South Christopher, AE"
7,Textile designer,Meyers-Johnson,"Port Jonathan, AE"
8,Television floor manager,Hughes-Williams,"Osbornetown, AE"
9,Waste management officer,"Jones, Williams and Villa","Scotttown, AP"